section(class="container")
			div(class="row" id="accordion")
				div(class="card col-md-12")
					div(class="card-header-white" id="headingOne")
						h5(class="mb-0")
							button(class="" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne") 
								h6 DESCRIPCIÓN     
									span
										i(class="fas fa-angle-down")
				
				div(id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion")
					div(class="card-body col-md-12")
						h6(class="col-md-12") Zapato drive JBE vino
						p(class="col-md-12") La  leyenda del  mundo textil que dio vida a un  universo de posinilidades en la elaboración de ropa para caballero. JBE es calidad y diseño atemporal, es por eso el emblema de nuestra empresa. Zapato listo de  punta redonda, pespuntes a detalle, ajuste perfecto cuyo diseño proporciona comodidad para cualquier ocación.
				
				div(class="card col-md-12")
					div(class="card-header-white" id="headingTwo")
						h5(class="mb-0")
							button(class="" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne") 
								h6 CARACTERÍSTICAS     
									span
										i(class="fas fa-angle-down")
				
				div(id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion")
					div(class="card-body row")
								div(class="col-md-3")
									.row
										p(class="col-md-12 cell-gray") Marca
									.row
										p(class="col-md-12 cell-gray") Modelo
									.row
										p(class="col-md-12 cell-gray") Tipo De Zapato
									.row
										p(class="col-md-12 cell-gray") Material

								div(class="col-md-3")
									.row
										p(class="col-md-12 cell-white") JBE
									.row
										p(class="col-md-12 cell-white") ZG5263-5
									.row
										p(class="col-md-12 cell-white") Driver
									.row
										p(class="col-md-12 cell-white") Sintético
								div(class="col-md-3")
									.row
										p(class="col-md-12 cell-gray") Material Suela
									.row
										p(class="col-md-12 cell-gray") Fijación
									.row
										p(class="col-md-12 cell-gray") Instrucciones de Cuidado y Limpieza
									

								div(class="col-md-3")
									.row
										p(class="col-md-12 cell-white") Sintético
									.row
										p(class="col-md-12 cell-white") 1 tiempo
									.row
										p(class="col-md-12 cell-white") Limpia con un paño húmedo o lavar a mano con un cepillo de cerdas suaves
				div(class="card col-md-12")
					div(class="card-header-white" id="headingThree")
						h5(class="mb-0")
							button(class="" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree") 
								h6 OFERTAS ESPECIALES Y PROMOCIONES     
									span
										i(class="fas fa-angle-down")
				
				div(id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordion")
					div(class="card-body row")
								div(class="col-md-6")
									.row
										h6(class="col-md-12") Tarjetas Liverpool
									.row
										ul
											li 20% de descuento-presupuesto liverpool/fabricas.
											li presupuesto/fabricas
								div(class="col-md-6")
									.row
										h6(class="col-md-12") Tarjetas Liverpool
									.row
										ul
											li 20% de descuento.
											li 20% de descuento - cuenta corriente externas.
											li cuenta corriente externas