footer
	div(class="row linea-bot")
		div(class="col-md-3")
			h6(class="footer-title") SOPORTE AL CLIENTE
			p(class="text-codigo") Facturación
			p(class="text-codigo") Mis Pedidos
			p(class="text-codigo") Ayuda al cliente
			p(class="text-codigo") Preguntas frecuentes
			p(class="text-codigo") Click&Collect
			p(class="text-codigo") Cambios,devoluciones y cancelaciones
			p(class="text-codigo") Soporte Técnico
		div(class="col-md-3")
			h6(class="footer-title") SERVICIOS LIVERPOOL
			p(class="text-codigo") Crédito Liverpool
			p(class="text-codigo") Tiempo aire
			p(class="text-codigo") Mesa de regalos
			p(class="text-codigo") Seguros Liverpool
			p(class="text-codigo") Concursos y promociones
			p(class="text-codigo") Formas de pago
			p(class="text-codigo") Viajes
		div(class="col-md-3")
			h6(class="footer-title") ACERCA DE LIVERPOOL
			p(class="text-codigo") Acerca de nosotros
			p(class="text-codigo") Bolsa de trabajo
			p(class="text-codigo") Relación con inventarios
			p(class="text-codigo") Buen Fin 20217
			h6(class="footer-title") HORARIO DE TIENDA
			p(class="text-codigo") Lunes a Domingo de 11:00am a 9:00pm
			p(class="text-codigo color-pink") Ubica tu tienda más cercana
		div(class="col-md-3")
			h6(class="footer-title") VENTAS POR TELÉFONO
			p(class="text-codigo") 5262-9999/01 800 713 5555
			p(class="text-codigo") Desde tu celular *7171
			h6(class="footer-title") COMENTARIOS Y SUGERENCIAS
			p(class="text-codigo") atencion@liverpool.com.mx
			h6(class="footer-title") SUSCRÍBETE
			a(class="btn-suscribete") Suscribete a nuestro boletín
			h6(class="footer-title mgT-10") SíGUENOS
				span
					i(class="fab fa-instagram icon-footer")
					i(class="fab fa-facebook-f icon-footer")
					i(class="fab fa-twitter icon-footer")
	hr				
	div(class="row text-center")
		p(class="text-codigo col-md-12") *Precio en rojo incluye descuento más alto pagando de contado.Las promociones de www.liverpool.com.mx pueden diferir de las promociones publicadas en tienda. El formato de los precios puede verse afectados por la configuaracion y diferencia de navegador.
		p(class="text-codigo col-md-12") *Las promociones de vinos y licores no aplican para los estados de: Sonora, Chihuahua, Yucatan y Baja California.
		div(class="col-md-12")
			a(class="footer-title") Términos y Condiciones |
			a(class="footer-title") Aviso de privacidad |
			a(class="footer-title padB-10") Todos los derechos reservados D.R.®			