div(class=" row section-white")
				div(class="col-md-2 col-sm-12")
					img( width="100%" src="assets/img/liverpool-logo.svg" alt="liverpool")
				div(class="col-md-5 offset-md-5")
					a SORTEO BLOG
					a TIENDAS
					a MIS PEDIDOS
					a AYUDA
			div(class="row section-pink")
				select(class="col")
					option(selected) Departamentos
				select(class="col")
					option(selected) Mesa De Regalos
				select(class="col")
					option(selected) Mi Crédito
				select(class="col")
					option(selected) Seguros
				form(class="form-inline col-md-3")
					input(class="form-control")
				div.col
					i(class="fas fa-shopping-bag icon-bag")
					span(class="color-white padR-10 padL-10") (1)
				select(class="col")
					option(selected) Hola JUAN SANDOVAL	
			div.row
				nav(aria-label="breadcrumb")
					ol(class="breadcrumb")
						li(class="breadcrumb-item")
							a(href="#") Home
						li(class="breadcrumb-item")
							a(href="#") Zapatos
						li(class="breadcrumb-item")
							a(href="#") Caballeros
						li(class="breadcrumb-item active" aria-current="page")
							a(href="#" class="color-pink") Casuales	