section
	h5 ARTICULOS SIMILARES
	div(class="slider responsive")
		div(class="item-slide")
			img(src="assets/img/carrusel/zapato-1.jpg" alt="liverpool")
			h6 Zapato mocasín JBE piel negro
			p(class="text-codigo col-md-12") <s>$699.00</s>
			p(class="price col-md-6") $594.15
		div(class="item-slide")
			img(src="assets/img/carrusel/zapato-2.jpg" alt="liverpool")
			h6 Zapato mocasín JBE piel negro
			p(class="text-codigo col-md-12") <s>$699.00</s>
			p(class="price col-md-6") $594.15
		div(class="item-slide")
			img(src="assets/img/carrusel/zapato-3.jpg" alt="liverpool")
			h6 Zapato mocasín JBE piel negro
			p(class="text-codigo col-md-12") <s>$699.00</s>
			p(class="price col-md-6") $594.15
		div(class="item-slide")
			img(src="assets/img/carrusel/zapato-4.jpg" alt="liverpool")
			h6 Zapato mocasín JBE piel negro
			p(class="text-codigo col-md-12") <s>$699.00</s>
			p(class="price col-md-6") $594.15
		div(class="item-slide")
			img(src="assets/img/carrusel/zapato-5.jpg" alt="liverpool")
			h6 Zapato mocasín JBE piel negro
			p(class="text-codigo col-md-12") <s>$699.00</s>
			p(class="price col-md-6") $594.15
		div(class="item-slide")
			img(src="assets/img/carrusel/zapato-6.jpg" alt="liverpool")
			h6 Zapato mocasín JBE piel negro
			p(class="text-codigo col-md-12") <s>$699.00</s>
			p(class="price col-md-6") $594.15
		div(class="item-slide")
			img(src="assets/img/carrusel/zapato-7.jpg" alt="liverpool")
			h6 Zapato mocasín JBE piel negro
			p(class="text-codigo col-md-12") <s>$699.00</s>
			p(class="price col-md-6") $594.15
		div(class="item-slide")
			img(src="assets/img/carrusel/zapato-8.jpg" alt="liverpool")
			h6 Zapato mocasín JBE piel negro
			p(class="text-codigo col-md-12") <s>$699.00</s>
			p(class="price col-md-6") $594.15
		div(class="item-slide")
			img(src="assets/img/carrusel/zapato-9.jpg" alt="liverpool")
			h6 Zapato mocasín JBE piel negro
			p(class="text-codigo col-md-12") <s>$699.00</s>
			p(class="price col-md-6") $594.15
		div(class="item-slide")
			img(src="assets/img/carrusel/zapato-10.jpg" alt="liverpool")
			h6 Zapato mocasín JBE piel negro
			p(class="text-codigo col-md-12") <s>$699.00</s>
			p(class="price col-md-6") $594.15	